<ul>
  <li><a href="/words">View Word List</a></li>
  <li><a href="/words/new">Add a new Word</a></li>
  <li><a href="/definitions">View all current definitions</a></li>
  <li><a href="/definitions/new">Add a new definitions</a></li>
</ul>
