<h1>Add a Word</h1>

<h3>Add word here:</h3>

<form action="/words" method="post">
  <label for="name">Word</label>
  <input id="name" type="text" name="name">
  <button type="submit" class="btn btn-success">Word</button>
</form>
