<h1>$word.getName() tasks:</h1>

<ul>
  #foreach($task in $word.getTasks())
  <li>$task.getDescription()</li>
</ul>
<br>
<ul>
  <li><a href="/words/$word.getId()/category/new">Add a new definition</a></li>
  <li><a href="/words">All words</a></li>
</ul>
