<h3>All Words</h3>

#if($words)
  <ul>
    #foreach($word in $words)
      <li><h3><a href="/words/$word.getId()">$word.getTerm()</a></h3></li>
    #end
  </ul>
#else
<p>No words.</p>
#end
<br>
<ul>
  <li><a href="/words/new">Add new word</a></li>
  <li><a href="/">Go to main page</a></li>
</ul>
